.menuTrigger { display: none; cursor: pointer; }

/* Sidebar Wrapper */
.sideBarWrapper {
    width: 280px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.sidebar {
    width: 280px;
    min-height: 100vh;
    background: linear-gradient(180deg, #134e4a 0%, #0f172a 100%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    position: sticky;
    top: 0;
}


.logoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottomNav { margin-top: auto; display: flex; flex-direction: column; gap: 10px; }
.bottomNav button { background: #0d9488 !important; }

.closeIcon { display: none; cursor: pointer; font-size: 25px; }

.sidebarBtnSecondary { background: rgba(255, 255, 255, 0.1); color: white; }
.sidebarBtnSecondary:hover { background: rgba(255, 255, 255, 0.2,);}


.sidebarBtn, .sidebarBtnSecondary {
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    /* color: white; */
}




@media (max-width : 768px){
    .overlay {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }


    .menuTrigger { display: block; margin-top: 18px; }
    .closeIcon { display: block; }
    
    .sideBarWrapper {
        position: fixed;
        left: -280px; /* Hide off-screen */
        top: 0;
        z-index: 1001;
    }

    .showMenu { left: 0 !important; }
}