.verifyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.verifyBox {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #cbd5e1;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
}

.btn {
    background-color: #1a3e72; /* Uni Blue */
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}